@model TestHispanoSoluciones.Models.Asignacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Asignacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Carrera.Carrera1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrera.Carrera1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_Asignacion }) |
    @Html.ActionLink("Regresar", "Index")
</p>
