@model TestHispanoSoluciones.Models.TipoLab

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Estas seguro que quieres borrar esto?</h3>

<div>
    <h4>TipoLab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Lab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Lab)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
