@model TestHispanoSoluciones.Models.TipoLab

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>TipoLab</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Lab)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Lab)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id_TipoLab }) |
    @Html.ActionLink("Regresar", "Index")
</p>
